h1{
    color:darkolivegreen;
}
img{
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: darkseagreen;
    padding: 50px;
    border: 10px solid darkslategrey;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
.divClass{
    border: 5px solid darkmagenta;
}